* text=auto
*.cs text eol=crlf
*.shader text eol=lf
*.cginc text eol=lf
*.json text eol=lf
*.md text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.fbx binary
*.unity binary
*.prefab binary
*.asset binary
